In [4]:
import sqlite3

from employee import Employee

conn = sqlite3.connect(':memory')
c = conn.cursor()

c.execute('''CREATE TABLE employees
            (first text, last text, pay integer)''')

def insert_emp(emp):
    with conn:
        c.execute("INSERT INTO employees VALUES (:first, :last, :pay)",
                  {'first': emp.first, 'last': emp.last, 'pay': emp.pay})

def get_emps_by_name(lastname):
    c.execute("SELECT * FROM employees WHERE last=:last", {'last': lastname})
    return c.fetchall()

def get_all_emps():
    c.execute("SELECT * FROM employees")
    return c.fetchall()

def delete_all_emps():
    with conn:
        c.execute("DELETE FROM employees")

def update_pay(emp, pay):
    with conn:
        c.execute("UPDATE employees SET pay = :pay WHERE first = :first AND last = :last",
                  {'first': emp.first, 'last': emp.last, 'pay': pay})

#Sample usage
e = Employee("John", "Doe", 50000)
insert_emp(e)

print(get_emps_by_name("Doe"))

def remove_emp(emp):
    with conn:
        c.execute("DELETE from employees WHERE first = :first AND last = :last",
                  {'first': emp.first, 'last': emp.last})

emp_1 = Employee("John", "Doe", 80000)
emp_2 = Employee("Jane", "Doe", 90000)
emp_3 = Employee("Jane", "Lee", 190000)
emp_4 = Employee("Yuna", "Kim", 190000)

insert_emp(emp_1)
insert_emp(emp_2)
insert_emp(emp_3)
insert_emp(emp_4)

emps = get_emps_by_name('Doe')
print(emps)

emps_l = get_emps_by_name('Lee')
print(emps_l)

update_pay(emp_2, 95000)
remove_emp(emp_1)

emps = get_emps_by_name('Doe')
print(emps)

all_emps = get_all_emps()
print(all_emps)

delete_all_emps()
all_emps = get_all_emps()
print(all_emps)

conn.close()

[('John', 'Doe', 50000)]
[('John', 'Doe', 50000), ('John', 'Doe', 80000), ('Jane', 'Doe', 90000)]
[('Jane', 'Lee', 190000)]
[('Jane', 'Doe', 95000)]
[('Jane', 'Doe', 95000), ('Jane', 'Lee', 190000), ('Yuna', 'Kim', 190000)]
[]

# Nouvelle section