In [1]:
import sqlite3
#Connect to SQLite database
conn = sqlite3. connect ('Lab13.db')
c = conn. cursor()
#Create a sample table
c.execute(""'CREATE TABLE IF NOT EXISTS employees (id INTEGER PRIMARY KEY, name TEXT, department TEXT, salary INTEGER) '"")
#Example 1: Efficient Indexing
#Description: This example demonstrates how to create an index on the 'department' column.
#The index will improve the performance of queries filtering by department
#Adding some sample data
sample_data = [(1, 'Alice', 'HR', 70000), (2, 'Bob', 'Engineering', 80000), (3, 'Charlie', 'HR', 75000)]
c.executemany( 'INSERT INTO employees VALUES (?,?,?,?)', sample_data)
#Creating an index
c.execute ('CREATE INDEX idx_department ON employees (department)')
#Comment: Indexes can significantly improve the performance of queries that filter or sort based on the indexed column.
#However, they can also slow down data insertion and updates. Therefore, use them judiciously.
#Querying with and without the index
c.execute('SELECT * FROM employees WHERE department = "HR"')
print("Query plan with index:", c.fetchall ())
#Drop the index
c.execute( 'DROP INDEX idx_department')
c.execute ('SELECT * FROM employees WHERE department = "HR"')
print ("Query plan without index:", c. fetchall ())
#Cleanup
conn. commit ()
conn. close()

Query plan with index: [(1, 'Alice', 'HR', 70000), (3, 'Charlie', 'HR', 75000)]
Query plan without index: [(1, 'Alice', 'HR', 70000), (3, 'Charlie', 'HR', 75000)]

In [2]:
import sqlite3

#Connect to SQLite database
conn = sqlite3.connect('Lab13.db')
c = conn.cursor()

#Create a sample table
c.execute('CREATE TABLE IF NOT EXISTS products (id INTEGER PRIMARY KEY, name TEXT, category TEXT, price INTEGER)')

#Adding some sample data
sample_data = [(1, 'Laptop', 'Electronics', 1200), (2, 'Chair', 'Furniture', 150), (3, 'Smartphone', 'Electronics', 800)]
c.executemany('INSERT INTO products VALUES (?, ?, ?, ?)', sample_data)

#Query optimization example
#Efficient query: selecting specific columns and filtering
c.execute('SELECT name, price FROM products WHERE category = "Electronics"')
print("Efficient query results:", c.fetchall())

#Cleanup
conn.commit()
conn.close()

Efficient query results: [('Laptop', 1200), ('Smartphone', 800)]

In [3]:
import sqlite3

#Connect to SQLite database
conn = sqlite3.connect('Lab13.db')
c = conn.cursor()

#Create a sample table
c.execute('CREATE TABLE IF NOT EXISTS orders (id INTEGER PRIMARY KEY, product_id INTEGER, quantity INTEGER)')

#Transaction optimization example
#
#Description: This example demonstrates the use of transactions to optimize bulk data insertions.
#Start a transaction
conn.execute('BEGIN TRANSACTION')

#Bulk insert data
bulk_data = [(i % 5 + 1, i * 2) for i in range(1, 1001)]
c.executemany('INSERT INTO orders (product_id, quantity) VALUES (?,?)', bulk_data)

#Commit the transaction
conn.commit()

#Verify data insertion
c.execute('SELECT COUNT(*) FROM orders')
print("Number of records inserted:", c.fetchone()[0])

#Cleanup
conn.close()

Number of records inserted: 1000

In [4]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('example.db')
c = conn.cursor()

# Create sample tables
c.execute('''CREATE TABLE IF NOT EXISTS students (
                id INTEGER PRIMARY KEY,
                name TEXT,
                class_id INTEGER)''')

c.execute('''CREATE TABLE IF NOT EXISTS classes (
                id INTEGER PRIMARY KEY,
                class_name TEXT)''')

# Adding some sample data
students_data = [(1, 'John', 1), (2, 'Emma', 2), (3, 'Harry', 1)]
classes_data = [(1, 'Math'), (2, 'Science')]

c.executemany('INSERT INTO students VALUES (?,?,?)', students_data)
c.executemany('INSERT INTO classes VALUES (?,?)', classes_data)

# Efficient Joins example
# Description: This example demonstrates how to perform an efficient join between two tables

# Efficient join query
c.execute('''SELECT students.name, classes.class_name
             FROM students
             JOIN classes ON students.class_id = classes.id''')

print("Join results:", c.fetchall())

# Cleanup
conn.commit()
conn.close()

Join results: [('John', 'Math'), ('Emma', 'Science'), ('Harry', 'Math')]