In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('ITS_database.db')
print("Opened database successfully")

Opened database successfully

In [3]:
conn.execute('''
CREATE  TABLE coutries (
	country_code         CHAR(13)  NOT NULL     PRIMARY KEY,
	country_name         VARCHAR(100)  NOT NULL
 )
''')
print("Table created successfully")

Table created successfully

In [4]:
conn.execute('ALTER TABLE coutries RENAME TO countries;')

In [5]:
conn.execute('''
CREATE  TABLE requests (
	id_requests          INT  NOT NULL     PRIMARY KEY,
	`r.model`            VARCHAR(50)       ,
	`r.color`            VARCHAR(50)       ,
	`r.clearance_level`  VARCHAR(50)       ,
	`r.fatl`             BOOLEAN       ,
	`r.stlvt`            BOOLEAN
 )
''')
print("Table created successfully")

Table created successfully

In [6]:
conn = sqlite3.connect('ITS_database.db')
conn.execute('''
CREATE TABLE vehicle (
	vehicle_id           CHAR(5)  NOT NULL     PRIMARY KEY,
	registration_id      VARCHAR(10),
	manufacturer         VARCHAR(50)  NOT NULL,
	model                VARCHAR(50),
	color                VARCHAR(50),
	current_odometer     INT,
	passenger_capacity   INT  NOT NULL,
	availability         BOOLEAN  NOT NULL
)
''')
print("Table created successfully")

Table created successfully

In [7]:
conn.execute('''
CREATE  TABLE `vehicle.state` (
	state_id             VARCHAR(5)  NOT NULL     PRIMARY KEY,
	action_type          CHAR(1)  NOT NULL     ,
	odometer             INT       ,
	final_cost           FLOAT       ,
	brief_description    CHAR(100)       ,
	action_date          DATE       ,
	vehicle_id           CHAR(5)  NOT NULL     ,
	CONSTRAINT `fk_vehicle.state_vehicles` FOREIGN KEY ( vehicle_id ) REFERENCES vehicle( vehicle_id ) ON DELETE NO ACTION ON UPDATE NO ACTION
 )
''')
print("Table created successfully")

Table created successfully

In [8]:
conn.execute('''
CREATE  TABLE driver_info (
	driver_id            INT  NOT NULL     PRIMARY KEY,
	driver_name          VARCHAR(100)       ,
	license_number       CHAR(18)       ,
	clearance_level      INT  NOT NULL     ,
	fatl                 BOOLEAN  NOT NULL     ,
	stlvt                BOOLEAN  NOT NULL     ,
	driver_preferred_langage CHAR(50)  NOT NULL     ,
	vehicle_id           CHAR(5)  NOT NULL     ,
	CONSTRAINT fk_driver_info_vehicle FOREIGN KEY ( vehicle_id ) REFERENCES vehicle( vehicle_id ) ON DELETE NO ACTION ON UPDATE NO ACTION
 )
''')
print("Table created successfully")

Table created successfully

In [9]:
conn.execute('''
CREATE  TABLE fatl (
	level                INT       ,
	qualification_date   DATE       ,
	driver_id            INT  NOT NULL     ,
	CONSTRAINT fk_fatl_driver_info FOREIGN KEY ( driver_id ) REFERENCES driver_info( driver_id ) ON DELETE NO ACTION ON UPDATE NO ACTION
 )
''')
print("Table created successfully")

Table created successfully

In [10]:
conn.execute('''
CREATE  TABLE game_officials (
	official_id          CHAR(8)  NOT NULL     PRIMARY KEY,
	country              CHAR(50)       ,
	official_name        VARCHAR(100)       ,
	official_role        VARCHAR(50)       ,
	official_preferred_langage CHAR(50)  NOT NULL     ,
	id_requests          INT  NOT NULL     ,
	CONSTRAINT fk_game_officials_requests FOREIGN KEY ( id_requests ) REFERENCES requests( id_requests ) ON DELETE NO ACTION ON UPDATE NO ACTION
 )
''')
print("Table created successfully")

Table created successfully

In [11]:
conn.execute('''
CREATE  TABLE stlvt (
	level                INT  NOT NULL     ,
	qualification_date   DATE       ,
	certifying_authority CHAR(100)       ,
	driver_id            INT  NOT NULL     ,
	CONSTRAINT fk_stlvt_driver_info FOREIGN KEY ( driver_id ) REFERENCES driver_info( driver_id ) ON DELETE NO ACTION ON UPDATE NO ACTION
 )
''')
print("Table created successfully")

Table created successfully

In [14]:
conn.execute('''
CREATE  TABLE booking_service (
	booking_reference_nb INT  NOT NULL     PRIMARY KEY,
	pick_up              TEXT(200)  NOT NULL     ,
	drop_off             TEXT(200)  NOT NULL     ,
	start_date           DATETIME  NOT NULL     ,
	end_date             DATETIME  NOT NULL     ,
	current_odometer   INT       ,
	end_odometer         DATETIME       ,
	official_id          CHAR(8)  NOT NULL     ,
	driver_id            INT  NOT NULL     ,
	CONSTRAINT fk_booking_service_vehicles FOREIGN KEY ( `current_odometer` ) REFERENCES vehicle( `current_odometer` ) ON DELETE NO ACTION ON UPDATE NO ACTION,
	CONSTRAINT fk_booking_service_game_officials FOREIGN KEY ( official_id ) REFERENCES game_officials( official_id ) ON DELETE NO ACTION ON UPDATE NO ACTION,
	CONSTRAINT fk_booking_service_driver_info FOREIGN KEY ( driver_id ) REFERENCES driver_info( driver_id ) ON DELETE NO ACTION ON UPDATE NO ACTION
 )
''')
print("Table created successfully")

Table created successfully

In [15]:
# Connect to SQLite Database
conn = sqlite3.connect('ITS_database.db')

# List all tables in the database
cursor = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = [table[0] for table in cursor.fetchall()]
print("List of tables in the database:", tables)

# Close the database connection
conn.close()

List of tables in the database: ['countries', 'requests', 'vehicle', 'vehicle.state', 'driver_info', 'fatl', 'game_officials', 'stlvt', 'booking_service']

In [16]:
conn = sqlite3.connect('ITS_database.db')
conn.execute("INSERT INTO countries (country_code,country_name) VALUES ('ISO 3166-2:KR','South Korea');")
conn.execute("INSERT INTO countries (country_code,country_name) VALUES ('ISO 3166-2:MA','Morocco');")
conn.execute("INSERT INTO countries (country_code,country_name) VALUES ('ISO 3166-2:IR','Iran');")
conn.execute("INSERT INTO countries (country_code,country_name) VALUES ('ISO 3166-2:FR','France');")
conn.execute("INSERT INTO countries (country_code,country_name) VALUES ('ISO 3166-2:US','USA');")

conn.commit()
print("Records inserted successfully")

Records inserted successfully

In [17]:
def insert_vehicles():
    conn = sqlite3.connect('ITS_database.db')
    cursor = conn.cursor()

    insert_queries = [
        "INSERT INTO vehicle (vehicle_id, registration_id, manufacturer, model, color, current_odometer, passenger_capacity, availability) VALUES ('V1000', '2001 ABC', 'Volvo', 'XC90 SE', 'Silver', 4350, 4, 1);",
        "INSERT INTO vehicle (vehicle_id, registration_id, manufacturer, model, color, current_odometer, passenger_capacity, availability) VALUES ('V1001', '2006 AFD', 'Kia', 'K7', 'Black', 2195, 4, 0);",
        "INSERT INTO vehicle (vehicle_id, registration_id, manufacturer, model, color, current_odometer, passenger_capacity, availability) VALUES ('V1002', '2021 AHR', 'Tesla', '2020 F', 'White', 509, 4, 0);",
        "INSERT INTO vehicle (vehicle_id, registration_id, manufacturer, model, color, current_odometer, passenger_capacity, availability) VALUES ('V1003', '2020 DXF', 'Ford', 'Transit', 'Silver', 974, 2, 0);",
        "INSERT INTO vehicle (vehicle_id, registration_id, manufacturer, model, color, current_odometer, passenger_capacity, availability) VALUES ('V1004', '2023 RTX', 'Chevrolet', 'Corvette', 'Blue', 270, 2, 1);"
    ]

    for query in insert_queries:
        cursor.execute(query)

    conn.commit()
    conn.close()

    print("Records inserted successfully")

insert_vehicles()

Records inserted successfully

In [18]:
conn = sqlite3.connect('ITS_database.db')
conn.execute("INSERT INTO `vehicle.state` (state_id, action_type, odometer, final_cost, brief_description, action_date, vehicle_id) VALUES ('S1000', 'M', 4000, 250.50, 'Routine maintenance', '2023-10-10', 'V1000');")
conn.execute("INSERT INTO `vehicle.state` (state_id, action_type, odometer, final_cost, brief_description, action_date, vehicle_id) VALUES ('S1001', 'R', 2000, 350.25, 'Repair transmission', '2023-10-15', 'V1001');")
conn.execute("INSERT INTO `vehicle.state` (state_id, action_type, odometer, final_cost, brief_description, action_date, vehicle_id) VALUES ('S1002', 'M', 400, 180.75, 'Oil change', '2022-07-20', 'V1002');")
conn.execute("INSERT INTO `vehicle.state` (state_id, action_type, odometer, final_cost, brief_description, action_date, vehicle_id) VALUES ('S1003', 'R', 300, 425.00, 'Replace brakes', '2023-01-25', 'V1003');")
conn.execute("INSERT INTO `vehicle.state` (state_id, action_type, odometer, final_cost, brief_description, action_date, vehicle_id) VALUES ('S1004', 'M', 112, 210.80, 'Tire rotation', '2023-09-01', 'V1004');")
conn.commit()
print("Records inserted successfully")

Records inserted successfully

In [ ]:
conn.execute("INSERT INTO driver_info (driver_id, driver_name, license_number, clearance_level, fatl, stlvt, driver_preferred_langage, vehicle_id) VALUES (1231, 'Marc Zhou', '135671638171635189', 4, true, true, 'English', 'V1000');")
conn.execute("INSERT INTO driver_info (driver_id, driver_name, license_number, clearance_level, fatl, stlvt, driver_preferred_langage, vehicle_id) VALUES (2303, 'Max Jin', '182937162836172937', 3, true, false, 'Spanish', 'V1001');")
conn.execute("INSERT INTO driver_info (driver_id, driver_name, license_number, clearance_level, fatl, stlvt, driver_preferred_langage, vehicle_id) VALUES (1039, 'Adam Khalil', '019273618435169786', 2, false, true, 'French', 'V1002');")
conn.execute("INSERT INTO driver_info (driver_id, driver_name, license_number, clearance_level, fatl, stlvt, driver_preferred_langage, vehicle_id) VALUES (7564, 'Clément Malon', '562810982910872618', 1, false, false, 'German', 'V1003');")
conn.execute("INSERT INTO driver_info (driver_id, driver_name, license_number, clearance_level, fatl, stlvt, driver_preferred_langage, vehicle_id) VALUES (1994, 'Nour Belabed', '102985675876548010', 3, true, true, 'Arabic', 'V1004');")
conn.commit()
print("Records inserted successfully")

In [20]:
conn.execute("INSERT INTO fatl (level, qualification_date, driver_id) VALUES (5, '2023-01-15', 1231);")
conn.execute("INSERT INTO fatl (level, qualification_date, driver_id) VALUES (8, '2023-02-20', 2303);")
conn.execute("INSERT INTO fatl (level, qualification_date, driver_id) VALUES (6, '2023-03-25', 1039);")
conn.execute("INSERT INTO fatl (level, qualification_date, driver_id) VALUES (9, '2023-04-30', 7564);")
conn.execute("INSERT INTO fatl (level, qualification_date, driver_id) VALUES (7, '2023-05-05', 1994);")
conn.commit()
print("Records inserted successfully")

Records inserted successfully

In [21]:
conn.execute("INSERT INTO stlvt (level, qualification_date, certifying_authority, driver_id) VALUES (3, '2023-01-15', 'Local Police Station', 1231);")
conn.execute("INSERT INTO stlvt (level, qualification_date, certifying_authority, driver_id) VALUES (5, '2023-02-20', 'Foreign Police Station', 2303);")
conn.execute("INSERT INTO stlvt (level, qualification_date, certifying_authority, driver_id) VALUES (4, '2023-03-25', 'Local Police Station', 1039);")
conn.execute("INSERT INTO stlvt (level, qualification_date, certifying_authority, driver_id) VALUES (2, '2023-04-30', 'Foreign Police Station', 7564);")
conn.execute("INSERT INTO stlvt (level, qualification_date, certifying_authority, driver_id) VALUES (1, '2023-05-05', 'Local Police Station', 1994);")
conn.commit()
print("Records inserted successfully")

Records inserted successfully

In [22]:
conn.execute("INSERT INTO game_officials (official_id, country, official_name, official_role, official_preferred_langage, id_requests) VALUES ('OF1000', 'USA', 'Mickael Jordan', 'Coach', 'English', 1);")
conn.execute("INSERT INTO game_officials (official_id, country, official_name, official_role, official_preferred_langage, id_requests) VALUES ('OF1001', 'France', 'Antoine Dupont', 'Judge', 'French', 2);")
conn.execute("INSERT INTO game_officials (official_id, country, official_name, official_role, official_preferred_langage, id_requests) VALUES ('OF1002', 'Germany', 'Hans Müller', 'Physician', 'German', 3);")
conn.execute("INSERT INTO game_officials (official_id, country, official_name, official_role, official_preferred_langage, id_requests) VALUES ('OF1003', 'Spain', 'Mateu Lahoz', 'Judge', 'Spanish', 4);")
conn.execute("INSERT INTO game_officials (official_id, country, official_name, official_role, official_preferred_langage, id_requests) VALUES ('OF1004', 'Italy', 'Herb Dean', 'Judge', 'Arabic', 5);")
conn.commit()
print("Records inserted successfully")

Records inserted successfully

In [23]:
conn.execute("INSERT INTO booking_service (booking_reference_nb, pick_up, drop_off, start_date, end_date, current_odometer, end_odometer, official_id, driver_id) VALUES (1, 'Incheon Golden Hotel', 'Incheon Airport', '2023-09-15 08:00:00', '2023-09-15 10:00:00', 4350, 4500, 'OF1000', 1231);")
conn.execute("INSERT INTO booking_service (booking_reference_nb, pick_up, drop_off, start_date, end_date, current_odometer, end_odometer, official_id, driver_id) VALUES (2, 'Incheon Stadium', 'Bupyeong-Gu Hotel', '2023-09-16 14:30:00', '2023-09-16 16:30:00', 2195, 2225, 'OF1001', 1039);")
conn.execute("INSERT INTO booking_service (booking_reference_nb, pick_up, drop_off, start_date, end_date, current_odometer, end_odometer, official_id, driver_id) VALUES (3, 'Incheon Airport', 'Incheon Stadium', '2023-09-17 11:15:00', '2023-09-17 13:15:00', 509, 530, 'OF1002', 7564);")
conn.execute("INSERT INTO booking_service (booking_reference_nb, pick_up, drop_off, start_date, end_date, current_odometer, end_odometer, official_id, driver_id) VALUES (4, 'Incheon Golden Hotel', 'Bupyeong-Gu Hotel', '2023-09-18 17:45:00', '2023-09-18 19:45:00', 974, 1000, 'OF1003', 2303);")
conn.execute("INSERT INTO booking_service (booking_reference_nb, pick_up, drop_off, start_date, end_date, current_odometer, end_odometer, official_id, driver_id) VALUES (5, 'Incheon Airport', 'Inha University', '2023-09-19 10:30:00', '2023-09-19 12:30:00', 270, 305, 'OF1004', 1994);")
conn.commit()
print("Records inserted successfully")

Records inserted successfully

In [24]:
conn.execute("INSERT INTO requests (id_requests, `r.model`, `r.color`, `r.clearance_level`, `r.fatl`, `r.stlvt`) VALUES (1, 'XC90 SE', 'Red', '1', true, true);")
conn.execute("INSERT INTO requests (id_requests, `r.model`, `r.color`, `r.clearance_level`, `r.fatl`, `r.stlvt`) VALUES (2, 'K7', 'Blue', '2', false, true);")
conn.execute("INSERT INTO requests (id_requests, `r.model`, `r.color`, `r.clearance_level`, `r.fatl`, `r.stlvt`) VALUES (3, '2020 F', 'Silver', '3', true, false);")
conn.execute("INSERT INTO requests (id_requests, `r.model`, `r.color`, `r.clearance_level`, `r.fatl`, `r.stlvt`) VALUES (4, 'Transit', 'Black', '4', false, false);")
conn.execute("INSERT INTO requests (id_requests, `r.model`, `r.color`, `r.clearance_level`, `r.fatl`, `r.stlvt`) VALUES (5, 'Corvette', 'Blue', '5', true, true);")
conn.commit()
print("Records inserted successfully")

Records inserted successfully

In [26]:
def list_rows():
    conn = sqlite3.connect('ITS_database.db')
    cursor = conn.execute("SELECT country_code,country_name from countries")
    print("Show all rows from countries Table:")
    for row in cursor:
      print("country_code = ", row[0])
      print("country_name = ", row[1], "\n")
list_rows()

Show all rows from countries Table:
country_code =  ISO 3166-2:KR
country_name =  South Korea

country_code =  ISO 3166-2:MA
country_name =  Morocco

country_code =  ISO 3166-2:IR
country_name =  Iran

country_code =  ISO 3166-2:FR
country_name =  France

country_code =  ISO 3166-2:US
country_name =  USA

In [27]:
import sqlite3

def list_requests():
    conn = sqlite3.connect('ITS_database.db')
    cursor = conn.execute("SELECT id_requests, `r.model`, `r.color`, `r.clearance_level`, `r.fatl`, `r.stlvt` FROM requests")
    print("Showing all rows from the 'requests' Table:")
    for row in cursor:
        print("id_requests =", row[0])
        print("r.model =", row[1])
        print("r.color =", row[2])
        print("r.clearance_level =", row[3])
        print("r.fatl =", row[4])
        print("r.stlvt =", row[5], "\n")
    conn.close()

list_requests()

Showing all rows from the 'requests' Table:
id_requests = 1
r.model = XC90 SE
r.color = Red
r.clearance_level = 1
r.fatl = 1
r.stlvt = 1

id_requests = 2
r.model = K7
r.color = Blue
r.clearance_level = 2
r.fatl = 0
r.stlvt = 1

id_requests = 3
r.model = 2020 F
r.color = Silver
r.clearance_level = 3
r.fatl = 1
r.stlvt = 0

id_requests = 4
r.model = Transit
r.color = Black
r.clearance_level = 4
r.fatl = 0
r.stlvt = 0

id_requests = 5
r.model = Corvette
r.color = Blue
r.clearance_level = 5
r.fatl = 1
r.stlvt = 1

In [29]:
def list_vehicle():
    conn = sqlite3.connect('ITS_database.db')
    cursor = conn.execute("SELECT vehicle_id, registration_id, manufacturer, model, color, current_odometer, passenger_capacity, availability FROM vehicle")
    print("Showing all rows from the 'vehicle' Table:")
    for row in cursor:
        print("vehicle_id =", row[0])
        print("registration_id =", row[1])
        print("manufacturer =", row[2])
        print("model =", row[3])
        print("color =", row[4])
        print("current_odometer =", row[5])
        print("passenger_capacity =", row[6])
        print("availability =", row[7], "\n")
    conn.close()

list_vehicle()

Showing all rows from the 'vehicle' Table:
vehicle_id = V1000
registration_id = 2001 ABC
manufacturer = Volvo
model = XC90 SE
color = Silver
current_odometer = 4350
passenger_capacity = 4
availability = 1

vehicle_id = V1001
registration_id = 2006 AFD
manufacturer = Kia
model = K7
color = Black
current_odometer = 2195
passenger_capacity = 4
availability = 0

vehicle_id = V1002
registration_id = 2021 AHR
manufacturer = Tesla
model = 2020 F
color = White
current_odometer = 509
passenger_capacity = 4
availability = 0

vehicle_id = V1003
registration_id = 2020 DXF
manufacturer = Ford
model = Transit
color = Silver
current_odometer = 974
passenger_capacity = 2
availability = 0

vehicle_id = V1004
registration_id = 2023 RTX
manufacturer = Chevrolet
model = Corvette
color = Blue
current_odometer = 270
passenger_capacity = 2
availability = 1

In [30]:
import sqlite3

def list_driver_info():
    conn = sqlite3.connect('ITS_database.db')
    cursor = conn.execute("SELECT driver_id, driver_name, license_number, clearance_level, fatl, stlvt, driver_preferred_langage, vehicle_id FROM driver_info")
    print("Showing all rows from the 'driver_info' Table:")
    for row in cursor:
        print("driver_id =", row[0])
        print("driver_name =", row[1])
        print("license_number =", row[2])
        print("clearance_level =", row[3])
        print("fatl =", row[4])
        print("stlvt =", row[5])
        print("driver_preferred_langage =", row[6])
        print("vehicle_id =", row[7], "\n")
    conn.close()

list_driver_info()

Showing all rows from the 'driver_info' Table:
driver_id = 1231
driver_name = Marc Zhou
license_number = 135671638171635189
clearance_level = 4
fatl = 1
stlvt = 1
driver_preferred_langage = English
vehicle_id = V1000

driver_id = 2303
driver_name = Max Jin
license_number = 182937162836172937
clearance_level = 3
fatl = 1
stlvt = 0
driver_preferred_langage = Spanish
vehicle_id = V1001

driver_id = 1039
driver_name = Adam Khalil
license_number = 019273618435169786
clearance_level = 2
fatl = 0
stlvt = 1
driver_preferred_langage = French
vehicle_id = V1002

driver_id = 7564
driver_name = Clément Malon
license_number = 562810982910872618
clearance_level = 1
fatl = 0
stlvt = 0
driver_preferred_langage = German
vehicle_id = V1003

In [31]:
def list_vehicle_state():
    conn = sqlite3.connect('ITS_database.db')
    cursor = conn.execute("SELECT state_id, action_type, odometer, final_cost, brief_description, action_date, vehicle_id FROM `vehicle.state`")
    print("Showing all rows from the 'vehicle.state' Table:")
    for row in cursor:
        print("state_id =", row[0])
        print("action_type =", row[1])
        print("odometer =", row[2])
        print("final_cost =", row[3])
        print("brief_description =", row[4])
        print("action_date =", row[5])
        print("vehicle_id =", row[6], "\n")
    conn.close()

list_vehicle_state()

Showing all rows from the 'vehicle.state' Table:
state_id = S1000
action_type = M
odometer = 4000
final_cost = 250.5
brief_description = Routine maintenance
action_date = 2023-10-10
vehicle_id = V1000

state_id = S1001
action_type = R
odometer = 2000
final_cost = 350.25
brief_description = Repair transmission
action_date = 2023-10-15
vehicle_id = V1001

state_id = S1002
action_type = M
odometer = 400
final_cost = 180.75
brief_description = Oil change
action_date = 2022-07-20
vehicle_id = V1002

state_id = S1003
action_type = R
odometer = 300
final_cost = 425.0
brief_description = Replace brakes
action_date = 2023-01-25
vehicle_id = V1003

state_id = S1004
action_type = M
odometer = 112
final_cost = 210.8
brief_description = Tire rotation
action_date = 2023-09-01
vehicle_id = V1004

In [32]:
import sqlite3

def list_fatl():
    conn = sqlite3.connect('ITS_database.db')
    cursor = conn.execute("SELECT level, qualification_date, driver_id FROM fatl")
    print("Showing all rows from the 'fatl' Table:")
    for row in cursor:
        print("level =", row[0])
        print("qualification_date =", row[1])
        print("driver_id =", row[2], "\n")
    conn.close()

list_fatl()

Showing all rows from the 'fatl' Table:
level = 5
qualification_date = 2023-01-15
driver_id = 1231

level = 8
qualification_date = 2023-02-20
driver_id = 2303

level = 6
qualification_date = 2023-03-25
driver_id = 1039

level = 9
qualification_date = 2023-04-30
driver_id = 7564

level = 7
qualification_date = 2023-05-05
driver_id = 1994

In [33]:
import sqlite3

def list_game_officials():
    conn = sqlite3.connect('ITS_database.db')
    cursor = conn.execute("SELECT official_id, country, official_name, official_role, official_preferred_langage, id_requests FROM game_officials")
    print("Showing all rows from the 'game_officials' Table:")
    for row in cursor:
        print("official_id =", row[0])
        print("country =", row[1])
        print("official_name =", row[2])
        print("official_role =", row[3])
        print("official_preferred_language =", row[4])
        print("id_requests =", row[5], "\n")
    conn.close()

list_game_officials()

Showing all rows from the 'game_officials' Table:
official_id = OF1000
country = USA
official_name = Mickael Jordan
official_role = Coach
official_preferred_language = English
id_requests = 1

official_id = OF1001
country = France
official_name = Antoine Dupont
official_role = Judge
official_preferred_language = French
id_requests = 2

official_id = OF1002
country = Germany
official_name = Hans Müller
official_role = Physician
official_preferred_language = German
id_requests = 3

official_id = OF1003
country = Spain
official_name = Mateu Lahoz
official_role = Judge
official_preferred_language = Spanish
id_requests = 4

official_id = OF1004
country = Italy
official_name = Herb Dean
official_role = Judge
official_preferred_language = Arabic
id_requests = 5

In [34]:
import sqlite3

def list_stlvt():
    conn = sqlite3.connect('ITS_database.db')
    cursor = conn.execute("SELECT level, qualification_date, certifying_authority, driver_id FROM stlvt")
    print("Showing all rows from the 'stlvt' Table:")
    for row in cursor:
        print("level =", row[0])
        print("qualification_date =", row[1])
        print("certifying_authority =", row[2])
        print("driver_id =", row[3], "\n")
    conn.close()

list_stlvt()

Showing all rows from the 'stlvt' Table:
level = 3
qualification_date = 2023-01-15
certifying_authority = Local Police Station
driver_id = 1231

level = 5
qualification_date = 2023-02-20
certifying_authority = Foreign Police Station
driver_id = 2303

level = 4
qualification_date = 2023-03-25
certifying_authority = Local Police Station
driver_id = 1039

level = 2
qualification_date = 2023-04-30
certifying_authority = Foreign Police Station
driver_id = 7564

level = 1
qualification_date = 2023-05-05
certifying_authority = Local Police Station
driver_id = 1994

In [35]:
import sqlite3

def list_booking_service():
    conn = sqlite3.connect('ITS_database.db')
    cursor = conn.execute("SELECT booking_reference_nb, pick_up, drop_off, start_date, end_date, current_odometer, end_odometer, official_id, driver_id FROM booking_service")
    print("Showing all rows from the 'booking_service' Table:")
    for row in cursor:
        print("booking_reference_nb =", row[0])
        print("pick_up =", row[1])
        print("drop_off =", row[2])
        print("start_date =", row[3])
        print("end_date =", row[4])
        print("current_odometer =", row[5])
        print("end_odometer =", row[6])
        print("official_id =", row[7])
        print("driver_id =", row[8], "\n")
    conn.close()

list_booking_service()

Showing all rows from the 'booking_service' Table:
booking_reference_nb = 1
pick_up = Incheon Golden Hotel
drop_off = Incheon Airport
start_date = 2023-09-15 08:00:00
end_date = 2023-09-15 10:00:00
current_odometer = 4350
end_odometer = 4500
official_id = OF1000
driver_id = 1231

booking_reference_nb = 2
pick_up = Incheon Stadium
drop_off = Bupyeong-Gu Hotel
start_date = 2023-09-16 14:30:00
end_date = 2023-09-16 16:30:00
current_odometer = 2195
end_odometer = 2225
official_id = OF1001
driver_id = 1039

booking_reference_nb = 3
pick_up = Incheon Airport
drop_off = Incheon Stadium
start_date = 2023-09-17 11:15:00
end_date = 2023-09-17 13:15:00
current_odometer = 509
end_odometer = 530
official_id = OF1002
driver_id = 7564

booking_reference_nb = 4
pick_up = Incheon Golden Hotel
drop_off = Bupyeong-Gu Hotel
start_date = 2023-09-18 17:45:00
end_date = 2023-09-18 19:45:00
current_odometer = 974
end_odometer = 1000
official_id = OF1003
driver_id = 2303

booking_reference_nb = 5
pick_up = Incheon Airport
drop_off = Inha University
start_date = 2023-09-19 10:30:00
end_date = 2023-09-19 12:30:00
current_odometer = 270
end_odometer = 305
official_id = OF1004
driver_id = 1994

In [ ]:
#conn.execute('''
ALTER TABLE booking_service
ADD CONSTRAINT language_match_constraint
CHECK (
  EXISTS (
    SELECT 1 FROM game_officials go
    JOIN driver_info di ON go.official_id = official_id
    AND di.driver_id = driver_id
    WHERE go.official_preferred_langage = di.driver_preferred_langage ) ); ''')

In [ ]:
#conn.execute('''
ALTER TABLE booking_service
ADD CONSTRAINT requests_match_constraint
CHECK (
    EXISTS (
        SELECT 1
        FROM requests r
        JOIN vehicle v ON r.model = v.model
        AND r.color = v.color
        JOIN driver_info di ON r.clearance_level = di.clearance_level
        AND r.fatl = di.fatl
        AND r.stlvt = di.stlvt
    )
);
''')